.App {
  text-align: center;
  background-color: #f4f4f4; /* Fondo más claro para mejorar la legibilidad */
  color: #333; /* Texto en tono oscuro para contraste */
}

.App-header {
  background-color: #005792; /* Un color más profesional y suave */
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb; /* Manteniendo un enlace claro pero más vibrante */
}

/* Si se requiere alguna animación, mantenerla sutil y profesional */
@keyframes subtleFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Ejemplo de uso de la animación en componentes específicos */
.AnimatedComponent {
  animation: subtleFadeIn 3s ease-in-out;
}
