body {
  background-color: #E5E4E2; /* Color de fondo neutro */
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333; /* Asegura que el color del texto sea suficientemente oscuro para contraste */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* Modificado de 'hidden' a 'auto' para permitir desplazamiento cuando sea necesario */
}
